body{
    background-color: rgb(32,33,36);
    color: aliceblue;
}

a{
    display: flex;
    justify-content: right;
}

form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    align-items: baseline;
}

label {
    margin: 10px;
}

input[type='submit']{
    background-color: blue;
    color: white;
}