body{
    background-color: rgb(32,33,36);
    color: aliceblue;
}

a{
    display: flex;
    justify-content: right;
}

form{
    display: flex;
    justify-content: left;
    flex-direction: column;
}